
*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg_01{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 99;
    background-color: #4fff42;
}


.bg_02{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 98;
    background-color: #121811;
}

#myIconScroll{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    img{
        width: 25px;
    }
}


.container{
    padding: 0 100px;
}
.barke{
    hr{
        height: 1px;
        background-color: #121811;
    }
}

.icon_footer_for_web_left{
    display: none;
    position: relative;
    .icon_float_left{
        position: absolute;
        
        right: 75vw;
        top: 15vw;

        img{
            width: 30px;
        }
    }
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}


#check{
    display: none;
}


#particles-js{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.home_page{
    width: 100%;
    height: 100vh;
    background-image: url(../design/wallpaper/wallpaper01.png);
    background-position: center;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    .container{
        padding: 0 100px;
        .navbar{

            .nav{
                z-index: 60;
                padding: 0 100px;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                transition: 0.6s;
                display: flex;
                align-items: center;
                justify-content:space-between;

                
                

                .logo{

                    img{
                        width: 150px;
                    }
                }
                
                
                .list_items{
                    z-index: 3;
                    overflow: hidden;
                    list-style-type: none;
                  ul{
                      display: flex;

                    li{
                        list-style-type: none;
                        .button_nav{
                            padding: 14px 20px;
                            border: none;
                            border-radius: 5px;
                            text-decoration: none;
                            color: #fff;
                            font-size: 18px;
                            outline: none;
                            cursor: pointer;
                            position: relative;
                            overflow: hidden;
                            a{
                                display: block;
                                text-decoration: none;
                            }
                        }
                        span{
                            position: absolute;
                            background-color: #fff;
                            transform: translate(-50%,-50%);
                            pointer-events: none;
                            border-radius: none;
                            border-radius: 50%;
                            padding: 14px 16px;
                            animation: animate 1s linear infinite;
                        }
    
                        @keyframes animate {
                            0%{
                                width: 0px;
                                height: 0px;
                                opacity: 0.5s;
                            }
                            100%{
                                width: 500px;
                                height: 500px;
                                opacity: 0;
                            }
                        }
                    }

                  }
                    
                    
                }

                .hide{
                    display: none;
                }
                
                
                
            }
            
            
            .sticky{
                padding: 5px 100px;
                background: #44db3a8e;
                backdrop-filter: blur(8px);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
            .sticky{
                .list_items{
                   
                    li{

                        a{
                            color: #000;
                        }
                    }
                }
            }
            
        }
        
        
        .first_intro_text{
            width: 100%;
            height: 100vh;
            z-index: 5;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            
            
            h1{
                z-index: 3;
                color: white;
                font-weight: 900;
                font-size: 3vw;
                .mode{
                    animation-name: fcode_colors;
                    animation-duration: 4s;
                    color: white;
                    animation-iteration-count: 5;
                    transition: ease-in-out 0.5s;
                }
                @keyframes fcode_colors {
                    0% {color:white;}
                    25%{color:rgb(211, 211, 9);}
                    50%{color:rgb(81, 23, 134);}
                    100%{color:rgb(31, 92, 31);}
                }
            }

            .enter_your_idea{
                display: flex;
                img{
                    width: 200px;
                }
            }
        }
    }
}


/*media and screen*/

@media screen and (max-width: 1000px){
    
    .checkbtn{
        display: block;
      }
      .list_items{
        ul{
            position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        }
      }
      .list_items{
        ul{
            li{
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }
        }
      }
      nav{
        ul{
            li{
                a{
                    font-size: 20px;
                }
            }
        }
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
}

    
    

    


@media screen and (max-width: 750px){
    .enter_your_idea{
        img{
            display: none;
        }
    }
}

@media screen and (max-width: 750px){
    .first_intro_text{
        h1{
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 500px){
    .first_intro_text{
        h1{
            font-size: 10vw;
        }
    }
}
.specs_01{

    width: 100%;
    height: 700px;
    

    .specs_01_02{
        width: 100%;
        height: 700px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        .specs_all{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            display: inline-block;
            padding: 40px;
            width: 100%;
            border-radius: 10px;

            h1{
                text-align: center;
                font-size: 40px;
            }

            .specs_all_f1{
                display: flex;
                justify-content: space-between;

                .space_010{
                    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
                    padding: 20px;
                    border-radius: 5px;
                    text-align: center;
                    .num{
                        font-weight: 700;
                        font-size: 30px;
                    }
                }
            }
        
        
        
    }
    .icon_footer_for_web{
        display: none;
        .icon_float{
            position: absolute;
            display: none;
            top: -55px;
            margin-left: 90%;
            img{
                width: 30px;
            }
        }
        
     } 
   }
}

@media screen and (max-width: 1000px){
    
    .specs_01{
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;

        .specs_01_02{

            
            

            .specs_all_f1{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 650px){
    .specs_01{

        .specs_01_02{

            .specs_all{
                h1{
                    font-size: 25px;
                }

                h2{
                    font-size: 20px;
                }
            }
        }
    }
}


.Offerts{
    width: 100%;
    height: 700px;
    

    .offerts_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 700px;
        .box_01{
            width: 350px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            padding: 40px;
            border-radius: 10px;

            .stars{
                text-align: center;
            }
            h1{
                text-align: center;
            }
            .box_010{
                
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                
            }
            button{
                border: none;
                padding: 14px 16px;
                font-size: 19px;
                width: 250px;
                border-radius: 5px;
                cursor: pointer;
            }
            button:hover{
                background-color: rgb(190, 190, 190);
                transition: ease-out 0.3s;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .Offerts{
        width: 100%;
        height: 220vw;
        .offerts_box{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            justify-content: center;

            .box_01{
                width: 600px;
                text-align: center;
                button{
                    text-align: center;
                }
            }

        }
    }
}

.packages{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        text-align: center;
    }
    .packages_all{
        
        align-items: stretch;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        .packages_01{
            width: 250px;
            text-align: center;
            border:1px solid #4fff42;
            padding: 30px;
            margin: 30px;
            border-radius: 5px;
            img{

                width: 60px;
            }
        }
        .packages_01:hover{
            background-color: #4fff42;
            border: 1px solid #fff;
            color: #fff;
            transition: ease-in-out 0.3s;
            cursor: pointer;
            
        }
    }
}

@media screen and (max-width: 1300px){
    .icon_footer_for_web_left{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .packages{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;

        .packages_all{
            display: flex;
            justify-content: center;
            .packages_01{
                width: 150px;
                img{
                    width: 30px;
                }
                h2{
                    font-size: 18px;
                }
                p{
                    font-size: 13px;
                }
            }
           
        }
        
    }
    .icon_footer_for_web_left{
        display: none;
    }
}


@media screen and (max-width: 750px){
    .packages{
        width: 100%;
        height: 200vh;
    }
}

@media screen and (max-width: 636px){
    .packages{
        padding-top: 100vh;
        width: 100%;
        height: 290vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.back_footer{
    width: 100%;
    height: 400px;
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(/home/design/wallpaper/bg01.jpg);

    .back_footer_all{

        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        
        .back_footer_all_01{
            text-align: center;
            h1{
                text-align: center;
                color: #fff;
            }
    
            h3{
                color: #fff;
                text-align: center;
            }
            button{
                display: inline-block;
                border: none;
                padding: 14px 16px;
                background-color: #4fff42;
                font-size: 20px;
                font-weight: 600;
                color: #000;
                border-radius: 2px;
                
            }
            button:hover{
                background-color: #31a829;
                color: rgb(22, 22, 22);
                transition: ease-in-out 0.3s;
                cursor: pointer;
            }
        }
        
    }
}

footer{
    background-color: #dcdfe3;
    width: 100%;
    height: 600px;
    
    
    .footer_for_all{

        .footer_all{
            display: flex;
            height: 600px;
            justify-content: space-between;
            align-items: baseline;
            
            .footer_01_box{
    
                width: 300px;
                display: flex;
                flex-direction: column;
    
                img{
                    width: 150px;
                }
    
                .text_footer{
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    a{
                        padding: 10px 0;
                    }
                }
    
                
                .icon_footer{
    
                    .fa-facebook{
                        background-color: #cdd1d4;
                        color: #7d8083;
                        padding: 5px;
                        border-radius: 300px;
                        font-size: 25px;
                    }
                    .fa-facebook:hover{
                        color: #0f82d9;
                        cursor: pointer;
                    }
                    .fa-instagram{
                        background-color: #cdd1d4;
                        color: #7d8083;
                        padding: 5px;
                        border-radius: 300px;
                        font-size: 25px;
                    }
                    .fa-instagram:hover{
                        color: #cc31fc;
                        cursor: pointer;
                    }
                    .fa-twitter{
                        background-color: #cdd1d4;
                        color: #7d8083;
                        padding: 5px;
                        border-radius: 300px;
                        font-size: 25px;
                    }
                    .fa-twitter:hover{
                        color: #4bd6cf;
                        cursor: pointer;
                    }
                }
            }
            .footer_02_box{
                h2{
                    button{
                        border: none;
                        padding: 14px 16px;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 5px;
                    }
                    button:hover{
                        background-color: #cdd1d4;
                        transition: ease-in-out 0.3s;
                        cursor: pointer;                        
                        border-radius: 5px;
                        border: 3px;
                    }
                    
                    
                }
                
    
                .links_service_footer{
                    display: flex;
                    flex-direction: column;
                    li{
                        list-style-type: none;
                    }
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                    a:hover{
                        color: #4fff42;
                    }
                }
            }
            .footer_office{
                h2{
                    button{
                        border: none;
                        padding: 14px 16px;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 5px;
                    }
                    button:hover{
                        background-color: #cdd1d4;
                        transition: ease-in-out 0.3s;
                        cursor: pointer;                        
                        border-radius: 5px;
                        border: 3px;
                    }
                    
                    
                }
    
                .text_footer_office{
                    display: flex;
                    flex-direction: column;
                    
    
                    p{
    
                        a{
                            color: #000;
                            text-decoration: none;
                        }
                        a:hover{
                            color: #4fff42;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .footer_office_explorer{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                li{
                    list-style-type: none;
                    a{
                        font-size: 15px;
                    }
                }
                h2{
                    button{
                        border: none;
                        padding: 14px 16px;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 5px;
                    }
                    button:hover{
                        background-color: #cdd1d4;
                        transition: ease-in-out 0.3s;
                        cursor: pointer;                        
                        border-radius: 5px;
                        border: 3px;
                    }
                    
                    
                }
                a{
                    color: #000;
                    text-decoration: none;
                }
                a:hover{
                    color: #4fff42;
                    text-decoration: underline;
                }

                
            }
            .footer_legal{
                display: flex;
                flex-direction: column;
                #hideshow{
                    li{
                        list-style-type: none;
                        cursor: pointer;
                        a{
                            font-size: 15px;
                        }
                    }
                }
                h1{
                    button{
                        border: none;
                        padding: 14px 16px;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 5px;
                    }
                    button:hover{
                        background-color: #cdd1d4;
                        transition: ease-in-out 0.3s;
                        cursor: pointer;                        
                        border-radius: 5px;
                        border: 3px;
                    }
                    
                    
                }
                a{
                    text-decoration: none;
                    color: #000;
                }
                a:hover{
                    color: #4fff42;
                    text-decoration: underline;
                }
            }
        }
    }
    .footer_fcode{
        
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1300px){
    footer{
        background-color: #dcdfe3;
        
        
        
        .footer_for_all{
            width: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
    

            .footer_01_box{
                
                padding: 100px 0;
            }

            
            .footer_all{
                display: flex;
                
                
                flex-direction: column;
                align-items: center;
                height: 200vh;
                width: 100%;
            }
        }
        .footer_fcode{
            display: flex;
        }
    }
    .footer_fcode{
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        p{
            width: 50%;
            text-align: center;
        }
    }
}

@media screen and (max-width: 650px){
    footer{

        .footer_for_all{

            height: 250vh;
            .footer_all{

            }
        }
    }
}


.cursor
{
    z-index: -1;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #4bfd1f80;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor2
{
    z-index: -1;
    position: fixed;
    width: 0px;
    height: 0px;
    border: 1px solid #4bfd1f79;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}